@model IEnumerable<_09.Mass.Extinction.Web.ViewModels.Discord.ActivityReport>

@{
    ViewData["Title"] = "View Activity Reports";
}

<div id="app" data-app>
    <template>
        <v-data-table
            :headers="headers"
            :items="data"
            :single-expand="singleExpand"
            :expanded.sync="expanded"
            :search="search"
            :custom-sort="sortTable"
            :sort-by.sync="sortBy"
            :sort-desc.sync="sortDesc"
            item-key="id"
            show-expand
            dense
            dark
            class="elevation-1">
            <template v-slot:top>
                <v-toolbar flat>
                    <v-toolbar-title>Activity Reports</v-toolbar-title>
                    <v-spacer></v-spacer>
                    <v-text-field
                        v-model="search"
                        append-icon="mdi-magnify"
                        label="Search"
                        single-line
                        hide-details
                    ></v-text-field>
                </v-toolbar>
            </template>
            <template v-slot:expanded-item="{ headers, item }">
                <td :colspan="headers.length">
                    <p>Activity Report:</p>
                    <p>
                        <template v-for="arg in item.args">
                            <span>{{ arg.key }}: </span><span>{{ arg.value }}</span><br />
                        </template>
                    </p>
                    <p style="white-space: pre;">{{ item.report }}</p>
                </td>
            </template>
        </v-data-table>
    </template>
</div>

@section Scripts
{
    <script type="module">
        import loadPage from "/js/Discord/activityReport.js";

        const model = @Html.Raw(Json.Serialize(Model));
        
        loadPage(model);
    </script>
}
