@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
  <h1 class="display-4">Welcome to the Ninth Mass Extinction home page!</h1>
    <p>If you are an admin, register/login to see admin function.</p>
    <p>If you are a guest, or clan member, please come back at a later time.  We are still building the website.</p>
</div>
