@page
@model IndexModel
@{
    ViewData["Title"] = "Vow of the Disciple - Bonus Chest";
}

<h1>Vow of the Disciple - Bonus Chest</h1>

<p>After the payload escort section, as you enter the pyramid, there is a totem, with 3 symbols, on it.</p>

<p>You need to find the rooms, with these symbols, and activate the symbols, to get a bonus drop, after beating Rhulk. <strong>ONLY</strong> those symbols should be activated; any extras will prevent the bonus drop from dropping.</p>

<p>If done correctly, a message pops up, in the game feed (bottom left, above super bar), stating <em>The Disciple recognizes your offering...</em></p>

<p>After beating the boss, the chest will drop an extra engram, which is guaranteed, to be a Deepsight Raid Weapon (red border).</p>

<p>This bonus drop, is once <strong>PER WEEK</strong>, <strong>PER ACCOUNT</strong>.</p>

<p>The symbols only count, if they are activated.  You can activate the wrong symbol, as long as you deactivate it, by shooting it, again.</p>

<p>The raid must be completed, in a single sitting, similar to Divinity.</p>

<p>You can view the symbols, and where to find them, <a asp-page="./Rooms">here</a>.</p>

<p>You can use this <a asp-page="./Helper">helper</a>, to select the symbols, and see where the rooms are, while you are in a Vow of the Disciple run.</p>

<p>Used <a href="https://www.reddit.com/r/DestinyTheGame/comments/tfi0zh/votd_hidden_deepsight_resonance_chest_tracker/">this spreadsheet</a>, by <a href="https://www.reddit.com/user/Joystick_Knight/">u/Joystick_Knight</a>, to create this.</p>
